//Profile config names for nf-core/configs
params {
    config_profile_description = 'The UBC Sockeye Cluster profile'
}

env {
    ALLOCATION_CODE = "${ALLOCATION_CODE}"
}


apptainer {
    enabled = true
    autoMounts = true
    cacheDir = "/arc/project/${env.ALLOCATION_CODE}/${USER}/MESSI-apptainer-images"
}

process {
    executor = 'local'
    maxRetries = 2
}

executor {
    queueSize = 30
    submitRateLimit = '10 sec'
}
